@model AnnuaireEmploye.Models.ViewModels.RechercheViewModel

@{
    ViewBag.Title = "Recherche";
}

<h2>Recherche Employé</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Critére de Recherche </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Matricule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Matricule,  new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Matricule, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomComplet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NomComplet, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.NomComplet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateEmbaucheDebut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DateEmbaucheDebut, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.DateEmbaucheDebut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateEmbaucheFin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DateEmbaucheFin,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DateEmbaucheFin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdPoste, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdPoste, Model.Postes, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.IdPoste, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdDepartement, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.IdDepartement, Model.Departements, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.IdDepartement, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<hr />
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employe.NomComplet)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employe.Matricule)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employe.Poste.NomPoste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employe.Departement.NomDepartement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employe.DateEmbauche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employe.Actif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employe.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employe.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employe.Telephone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Employes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomComplet)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricule)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poste.NomPoste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departement.NomDepartement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEmbauche)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>

                <div>
                    <a href="#" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a> |
                    <a href="#" class="btn btn-primary">
                        <span class="glyphicon glyphicon-open"></span>
                    </a> |
                    <a href="#" class="btn btn-primary">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
               
                @Html.ActionLink("Details", "Details", new { id = item.IdEmploye }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdEmploye }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
